#container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    padding: 20px;
}

* {
    box-sizing: border-box;
    color: white;
}

body {
    background-color: rgb(20, 20, 20);;
}

.center {
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    background-color: rgb(38, 38, 38);
}
aside {
    display: flex;
    flex-direction: column;
}
aside a {
    width: 100%;
    margin-bottom: 5px;
    padding: 20px;
    background-color: #292b33;
    text-decoration: none;

}

aside a:hover {
    color: white;
    background-color: lightslategray;
}

aside a:focus {

}

aside a.active {
    background-color: black;
}

main {
    padding: 0 20px;
}