@media (min-width: 600px) {
    .center {
        width: 600px;
    }

    header {
    }
}

body {
    background-color: rgb(20, 20, 20);
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.center {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: rgb(38, 38, 38);
}

header {
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: rgb(38, 38, 38);
}
.width-100 {
    width: 100%;
}

.center-part {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.center-part#someone {
    justify-content: center;
}
.string {
    display: block;
}
.name {
    color: white;
    font: 16px Arial;
}

.professional {
    color: darkgray;
    font: 12px Arial;
}

.review {
    color: darkgray;
    font: 12px Arial;
}