<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Запись создана</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/online-booking-menu.css">
</head>
<body>
<div class="wrapper">
    <div class="center">
        <header>
            <div id="profile">
                <a href="/">
                    <img src="../images/small-image.jpg">
                </a>
            </div>
            <div id="aboutSalon">
                <a id="mainInfo" href="/">SEKTA X TEXH V</a>
                <div id="address">улица Покровка, 44</div>
            </div>
        </header>
        <main>
            <div class="success-message">
                <h1>✓ Запись успешно создана!</h1>
                <p>Мы отправили уведомление на указанный номер телефона.</p>
                <p>Вы можете отслеживать свои записи в <a href="/client/dashboard">личном кабинете</a>.</p>
                <a href="/" class="btn-primary">На главную</a>
            </div>
        </main>
    </div>
</div>
</body>
</html>