<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Онлайн запись</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/online-booking.css">
</head>
<body>
<div class="wrapper">
    <div class="center">
        <header>
            <div id="profile">
                <a href="/">
                    <img src="../images/small-image.jpg">
                </a>
            </div>

            <div id="aboutSalon">
                <a id= "mainInfo" href="/">SEKTA X TEXH V</a>
                <div id="address">улица Покровка, 44</div>
            </div>
        </header>
        <main>
            <div class="string">

                <a href="/">
                    <img src="../images/small-image.jpg">
                    <span>Выбрать специалиста</span>
                    <div class="end-line">></div>
                </a>

            </div>
            <div class="string">

                <a href="/">
                    <img src="../images/small-image.jpg">
                    <span>Выбрать дату и время</span>
                    <div class="end-line">></div>
                </a>

            </div>
            <div class="string">

                <a href="/">
                    <img src="../images/small-image.jpg">
                    <span>Выбрать услуги</span>
                    <div class="end-line">></div>
                </a>

            </div>

        </main>
    </div>
</div>
</body>
</html>