<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выбор услуг</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/online-booking-service-selection.css">
</head>
<body>
<div class="wrapper">
    <div class="center">
        <header>

        </header>
        <main>
            <form method="post">
                <div class="string">
                    <label>
                        <div class="center-part">
                            <div class="name">Илья Кузьмин</div>
                            <div class="professional">Мастер</div>
                            <div class="review">30 отзывов</div>
                        </div>
                        <input type="radio" name="employee">
                    </label>
                </div>
            </form>
        </main>
    </div>

    <!--        <form th:method="post" th:object="${taco}">-->
    <!--            <div>-->
    <!--                <h2>Услуги</h2>-->
    <!--                <div th:each="ingredient : ${wrap}">-->
    <!--                    <label>-->
    <!--                        <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}"/>-->
    <!--                        <span th:text="${ingredient.name}">INGREDIENT</span><br/>-->
    <!--                    </label>-->
    <!--                </div>-->

    <!--                <h2>Мужские стрижки</h2>-->
    <!--                <div th:each="ingredient : ${protein}">-->
    <!--                    <label>-->
    <!--                        <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}"/>-->
    <!--                        <span th:text="${ingredient.name}">INGREDIENT</span>-->
    <!--                    </label>-->
    <!--                </div>-->

    <!--                <h2>Укладка мужская</h2>-->
    <!--                <div th:each="ingredient : ${veggies}">-->
    <!--                    <label>-->
    <!--                        <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}"/>-->
    <!--                        <span th:text="${ingredient.name}">INGREDIENT</span>-->
    <!--                    </label>-->
    <!--                </div>-->

    <!--                <h2>Мужское окрашивание</h2>-->
    <!--                <div th:each="ingredient : ${cheese}">-->
    <!--                    <label>-->
    <!--                        <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}">-->
    <!--                        <span th:text="${ingredient.name}">INGREDIENT</span>-->
    <!--                    </label>-->
    <!--                </div>-->

    <!--                <h2>Моделирование бороды и усов</h2>-->
    <!--                <div th:each="ingredient : ${sauce}">-->
    <!--                    <label>-->
    <!--                        <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}">-->
    <!--                        <span th:text="${ingredient.name}">INGREDIENT</span>-->
    <!--                    </label>-->
    <!--                </div>-->

    <!--        <h2>Женская стрижка</h2>-->
    <!--                <div th:each="ingredient : ${sauce}">-->
    <!--                    <label>-->
    <!--                        <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}">-->
    <!--                        <span th:text="${ingredient.name}">INGREDIENT</span>-->
    <!--                    </label>-->
    <!--                </div>-->

    <!--        <h2>Женская стрижка (чёлка)</h2>-->
    <!--                <div th:each="ingredient : ${sauce}">-->
    <!--                    <label>-->
    <!--                        <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}">-->
    <!--                        <span th:text="${ingredient.name}">INGREDIENT</span>-->
    <!--                    </label>-->
    <!--                </div>-->

    <!--                <h2>Окрашивание корней</h2>-->
    <!--                <div th:each="ingredient : ${sauce}">-->
    <!--                    <label>-->
    <!--                        <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}">-->
    <!--                        <span th:text="${ingredient.name}">INGREDIENT</span>-->
    <!--                    </label>-->
    <!--                </div>-->
    <!--                <h2>Окрашивание в тон</h2>-->
    <!--                <div th:each="ingredient : ${sauce}">-->
    <!--                    <label>-->
    <!--                        <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}">-->
    <!--                        <span th:text="${ingredient.name}">INGREDIENT</span>-->
    <!--                    </label>-->
    <!--                </div>-->

    <!--                <h2>Растяжка цвета</h2>-->
    <!--                <div th:each="ingredient : ${sauce}">-->
    <!--                    <label>-->
    <!--                        <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}">-->
    <!--                        <span th:text="${ingredient.name}">INGREDIENT</span>-->
    <!--                    </label>-->
    <!--                </div>-->
    <!--                <h2>Детская стрижка</h2>-->
    <!--                <div th:each="ingredient : ${sauce}">-->
    <!--                    <label>-->
    <!--                        <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}">-->
    <!--                        <span th:text="${ingredient.name}">INGREDIENT</span>-->
    <!--                    </label>-->
    <!--                </div>-->
    <!--                <h2>Укладка</h2>-->
    <!--                <div th:each="ingredient : ${sauce}">-->
    <!--                    <label>-->
    <!--                        <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}">-->
    <!--                        <span th:text="${ingredient.name}">INGREDIENT</span>-->
    <!--                    </label>-->
    <!--                </div>-->

    <!--                <h2>Камуфляж седины</h2>-->
    <!--                <div th:each="ingredient : ${sauce}">-->
    <!--                    <label>-->
    <!--                        <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}">-->
    <!--                        <span th:text="${ingredient.name}">INGREDIENT</span>-->
    <!--                    </label>-->
    <!--                </div>-->
    <!--                <h2>Name your taco</h2>-->
    <!--                <div>-->
    <!--                    <label>-->
    <!--                        <input type="text" th:field="*{name}"><br/><br/>-->

    <!--                    </label>-->

    <!--                    <button>Create taco</button>-->

    <!--                </div>-->
    <!--            </div>-->
    <!--        </form>-->
</div>
</body>
</html>