<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Онлайн запись</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/online-booking-menu.css">
</head>
<body>
<div class="wrapper">
    <div class="center">
        <header>
            <div id="profile">
                <a href="/">
                    <img src="../images/small-image.jpg">
                </a>
            </div>

            <div id="aboutSalon">
                <a id= "mainInfo" href="/">SEKTA X TEXH V</a>
                <div id="address">улица Покровка, 44</div>
            </div>
        </header>
        <main>
            <div class="string" th:if="${employee == null}">
                <a href="/select-master">
                    <img src="../images/small-image.jpg">
                    <span>Выбрать специалиста</span>
                    <div class="end-line">></div>
                </a>
            </div>


            <div class="string" th:unless="${employee == null}">
                <div class="string" th:if="${employee == 0}">
                    <a href="/select-master">
                        <img src="../images/small-image.jpg">
                        <span>Любой специалист</span>
                        <div class="end-line">></div>
                    </a>
                </div>

                <div class="string" th:unless="${employee == 0}">
                    <a href="/select-master">
                        <img src="../images/small-image.jpg">
                        <span th:text="${employee.firstName} + ' ' + ${employee.lastName}">Имя</span>

                        <div class="end-line">></div>
                    </a>
                </div>
            </div>


            <div class="string">
                <a th:if="${employee != null && employee != 0}" th:href="@{/booking/select-date-time(employeeId=${employee.id})}">
                    <img src="../images/small-image.jpg">
                    <span>Выбрать дату и время</span>
                    <div class="end-line">></div>
                </a>

                <a th:unless="${employee != null && employee != 0}" th:href="@{/booking/select-date-time}">
                    <img src="../images/small-image.jpg">
                    <span>Выбрать дату и время</span>
                    <div class="end-line">></div>
                </a>
            </div>

            <div class="string">
                <a href="/booking/select-service">
                    <img src="../images/small-image.jpg">
                    <span>Выбрать услуги</span>
                    <div class="end-line">></div>
                </a>
            </div>
        </main>
    </div>
</div>
</body>
</html>